.fullItem{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,1,0.634);
    z-index: 9999;
    overflow: auto;

    h2,b,p{
        margin: 10px 20px;
        color: blue;
        padding-bottom: 20px;
    }

    b{
        color: red;
        font-size: 30px;
    }

    .addToCart{
        position: absolute;
        right: 20px;
        bottom: 10px;
        width: 5px;
        height: 5px;
        color: white;
        background: red;
        transition: transform 500ms ease;

        &:hover{
            transform: scale(1.05) translateY(-5px);
        }
    }
    .item{
        
        img{
            width: 100%;
            border-radius: 10px;
            transition: transform 500ms ease;

            &:hover{
                transform: scale(1.05);
            }
        }

    }

    div{
        width: 600px;
        position: relative;
        margin: 10% auto;
        padding: 40px 30px;
        background: white;
        border-radius: 15px;

        img{
            width: 600px;
        }
    }
}